/* whole container */
// .wrapper {
//   height: 100%;
//   width: 100%;
  
// }
.login-heading {
  display: flex;
  margin-left: 10%;
  font-size: 130%;
  font-weight: 10%;
}
.hor-line {
  margin-left: 10%;
  width: 80%;
}
.login-page {
  
  display: flex;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.input-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: #1cc0e3;
}
.Forgot-password {
  text-decoration: none;
  display: flex;
  margin-top: 3%;
  padding-left: 10%;
  font-size: 12px;
}
.span-name {
  display: flex;
  width: 40%;
  margin-top: 3%;
  padding-left: 10%;
  font-size: 12px;
}
.v1 {
  border-left: 2px solid #eeeeee;
  height: 90%;
}
.register {
  background-color: "#eeeeee";
  display: flex;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  // padding-bottom: 5px;
  width: 80%;
}

.content-form {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  
  margin-right: 10%;
  width: 100%;
}
.first-name {
  
  width: 40%;
}
.last-name {
  
  width: 40%;
}
