// Login Page

.login {
  width: 100%;
  // height: 722px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  
  &-bg {
    width: 70%;

    &-txt {
      margin-top: 20%;
      margin-left: 20%;
      font-size: 50px;
      color: #43598f;
    }
  }

  &-form {
    width: 30%;
    //     background-color: #663dff;
    // background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  }
}

::placeholder {
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

.login-form {
  margin-top: 30px;
}

.form-login {
  // position: absolute;
  // margin: auto;
  // position: absolute;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  padding: 0px 20px 0px 20px;
  width: 350px;
  border: 1px solid #d3d3d3;
  height: 380px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 15px 18px 5px rgba(0, 0, 0, 0.2);
}

.inp-bot {
  width: 100%;
  margin-top: 30px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #000;
  font-size: 14px;
  color: #000 !important;
}
.login-txt {
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  // text-decoration: underline;
  font-size: 32px;
  // background: -webkit-linear-gradient(#eee, #333);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.first-input {
  display: flex;
  flex-direction: row;
}

.but {
  width: 25%;
}

.rem {
  display: flex;
  flex-direction: row;

  &-me {
    display: flex;
  }

  &-for {
    width: 10px;
    display: flex;
    // padding-top: 15px;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

.input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

.btn-login {
  width: 100%;
  background-color: #5c6ac4;
  color: #fff;
  border-color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 30px;
  // font-family: Open Sans;
  &:hover {
    background-color: #5460c4;
    border-color: darken(#5460c4, 20%);
    color: #dee1f4;
  }

  &.focus {
    border-color: #202e78;
    box-shadow: 0 0 0 1px darken(#202e78, 15%);
    outline: 0;
  }
}
