
.content
{
    
    height: 60%;
    background-color: #f5f5f5;
    width: 100%;
}
.row-one
{
    display: flex;
    align-items: center;
    height: 40%;
    width: 100%;
    /* border-bottom: 2px solid black; */
}
.row-two
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%; 
    /* border-bottom: 2px solid black; */
}
.row-three
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
    /* border-bottom: 2px solid black; */
}
.row-four
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
    /* border-bottom: 2px solid black; */
}
.img-one
{
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 166px;
    border: 1px solid #d3d3d3;
    margin-left: 86px;

}
.row-last
{
    /* display: flex; */
    
    justify-content: center;
    /* height: fit-content; */
   width: 100%;  
}
.image-two
{
    margin-top: 5px;
    display: flex;
    width: 100%;
    
}
.img-three
{
    margin-top: 5px;
    display: flex;
    width: 100%;
}
.image-four
{
    margin-top: 5px;
    display: flex;
    width: 100%;
}
.image-five
{
    margin-top: 5px;
    display: flex;
    width: 100%;
}
.image-six
{
    margin-top: 5px;
    display: flex;
    width: 100%;
}
.card-text
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80%;
}
.below-ten
{
    display: flex;
    height: 50%;
    width: 100%;
}
.below-fifty
{
    display: flex;
    height: 50%;
    width: 100%;
}
.below-onec
{
    display: flex;
    height: 50%;
    width: 100%; 
}
.below-tenc
{
    display: flex;
    height: 50%;
    width: 100%; 
}
.more-than
{
    display: flex;
    height: 50%;
    width: 100%; 
}
.footer
{
    /* display: flex; */
    /* justify-content: center; */
    /* width: 100%; */
    /* margin-top: 2%; */
    margin-top: 2%;
    background-color: black;
}
.Business
{
    margin-top: 10%;
    list-style-type: none;
    font-size: 12px;
    color: white;
}
.investors-one
{
    margin-top: 10%;
    list-style-type: none;
    font-size: 12px;
    color: white;
}   
.advisors
{
    margin-top: 10%;
    list-style-type: none;
    font-size: 12px;
    color: white;
}
.franchesis
{
    margin-top: 20%;
    list-style-type: none;
    font-size: 12px;
    color: white;
}
.get-started
{
    margin-top: 10%;
    list-style-type: none;
    font-size: 12px;
    color: white;
}
.Company
{
    list-style-type: none;
    margin-top: 10%;
    font-size: 12px;
    color: white;
}
.first-content
{
    display: flex;
    align-items: center;
    margin-top: 5%;
    justify-content: space-evenly;
    width: 100%; 
}
.second-content
{
    display: flex;
    align-items: center;
    margin-top: 5%;
    justify-content: space-evenly;
    width: 100%; 
}
.third-content
{
    display: flex;
    align-items: center;
    margin-top: 5%;
    justify-content: space-evenly;
    width: 100%; 
}
.row-one-img
{
    height: 50%;
}
.card-one
{
    height: 20%;
    display: flex;
    width: 100%;
}
.card-one-text
{
    display: flex;
    margin-top: 3%;
    height: 100%;
}
.img-hotel
{
    display: flex;
    height: 50%;
}